.page-landing-component {
  .page-section-divider{
    margin: 30px 0;
  }
  .page-typography-heading{
    font-family: 'Alata', sans-serif;
    font-size: 60px;
    text-align: center;
  }
  .page-typography-sub-heading{
    text-align: center;
    color: slategray;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .kridaa-introduction {
    background: #97f8cf;
    padding: 0 30px;
    .section-wrapper{
      margin: 50px 0;
    }
    .page-section:first-child {
      text-align: left;
      display: flex;
      align-items: flex-start;
    }
    .heading {
      font-family: 'Alata', sans-serif;
      font-size: 88px;
      font-weight: bold;
      text-transform: uppercase;
      background: linear-gradient(45deg, #58D68D, #186A3B);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .sub-heading {
      margin-top: 15px;
      font-size: 20px;
      text-transform: uppercase;
    }
    .actions{
      margin: 60px 0;
    }
  }
  .kridaa-features {
    background: linear-gradient(
      72.77deg,
      #edeef6 11.72%,
      rgba(237, 238, 246, 0) 98.52%
    );
    padding: 25px;
    border-radius: 12px;
    position: relative;
    .kridaa-features-list{
      padding: 40px 0;
      .kridaa-feature{
        text-align: center;
        display: flex;
        .feature-image{
          width: 50%;
          img{
            width: 450px;
            height: auto;
          }
        }
        .feature-description{
          width: 50%;
          font-size: 18px;
          color: #474747;
          margin: auto;
          font-weight: 600;
          padding: 0 100px;
        }
      }
      .kridaa-feature:nth-child(even){
        flex-direction: row-reverse;
      }
    }
    .blue-circle{
      position: absolute;
      top: -40px;
      right: 45px;
    }
  }
  .kridaa-coming-soon{
    margin: 30px 0;
    .page-section{
      align-items: center;
      display: flex;
      .coming-soon{
        width: 100%;
      }
      .coming-soon-description{
        padding: 0 50px;
        color: slategray;
        margin-top: 15px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .kridaa-banner {
    width: 100%;
    margin: 50px auto;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .page-landing-component{
    .kridaa-introduction{
      .section-wrapper{
        margin-bottom: 0;
        margin-top: 30px;
      }
      .heading {
        font-size: 36px;
      }
      .sub-heading {
        font-size: 12px;
      }
    }
  }
}