.page-cornucopia-task-list{
  width: 100%;
  height: 100%;
  display: block !important;
  .task-items-list{
    border-top: 1px solid #ddd;
    .task-item{
      padding: 15px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      i.completed::before{
        color: green;
      }
      .sub-task-item.right{
        font-size: 14px;
        font-weight: 600;
        .content-name{
          float: left;
        }
        .content-type-wrapper{
          float: right;
        }
      }
    }
    .task-item:hover{
      background: #eeeeee78;
      box-shadow: inset 0 0 10px #eee;
    }
  }
}