.page-footer{
  width: 100%;
  margin-top: 50px;
  div{
    background: #eee;
    color: #474747;
    font-size: 12px;
    padding: 15px 0;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .MuiSvgIcon-root{
    margin: 0 5px;
  }
}