.btn-go-back{
  display: block;
  width: 100%;
  height: fit-content;
  padding: 15px;
  font-weight: 600;
  color: cornflowerblue;
  text-decoration: underline;
  cursor: pointer;
  text-align: right;

}